@use 'colors';

mat-chip {
	display: inline-flex;
	padding: 4px 8px;
	border-radius: 5px;
	min-width: 80px;

	&.mat-standard-chip {
		background-color: colors.$primary-a200;
		color: colors.$primary-contrast;
	}
}

.head {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 16px;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-bottom: 0px;
	}
}

.spacer {
	display: inline-flex;
	flex: 1;
	margin-right: 8px;
}

.dates {
	display: inline-flex;
	align-items: center;
}
