@use 'colors';

.wrapper {
	padding: 24px;
	flex-wrap: wrap;

	app-project ::ng-deep {
		cursor: pointer;

		mat-card {
			transition: 225ms ease-in-out;

			&:hover {
				background-color: colors.$accent-a100;
			}
		}
	}
}
