// Import material theming functions
@import '~@angular/material/theming';

// Copy the palettes from your selected theme (usually theme.scss).
$app-primary: mat-palette($mat-indigo);
$app-accent: mat-palette($mat-pink);
$app-warn: mat-palette($mat-red);

// Create your Sass color vars (will be available in all the project)
$primary: mat-color($app-primary);
$primary-contrast: mat-color($app-primary, '500-contrast');

$accent: mat-color($app-accent);
$accent-contrast: mat-color($app-accent, '500-contrast');

$warn: mat-color($app-warn);
$warn-contrast: mat-color($app-warn, '500-contrast');
