<app-page-title>Portfolio</app-page-title>
<div class="wrapper">
	<p>
		El portfolio nace como una necesidad de exponer de manera ordenada los
		distintos proyectos de los que participé.
	</p>
	<p>
		Esta desarrollado en tecnología Angular, con los últimos estandares y
		buenas prácticas de programación como puede ser el uso de
		<i>ESLint</i> y <i>Prettier</i>
	</p>
	<p>
		Para ver el código del proyecto este es el
		<a href="{{externalRoutes.github}}" target="_blank">
			link del repositorio
		</a>
	</p>
</div>
