@media (max-width: 1023px) {
	.head {
		flex-direction: column-reverse;

		.company {
			align-self: flex-start;
		}

		.dates {
			align-self: flex-end;
		}
	}
}

.head {
	display: flex;
	align-items: center;
	flex-wrap: wrap;

	.company {
		margin-bottom: 0px;
	}
}

.spacer {
	display: inline-flex;
	flex: 1;
	margin-right: 8px;
}

.dates {
	display: inline-flex;
	align-items: center;

	.date {
		margin-bottom: 0;
	}
}

.separator {
	display: flex;
	margin: 0 8px;
}
