<mat-toolbar color="primary" class="mat-elevation-z2">
	<mat-toolbar-row>
		<button mat-button (click)="redirectTo('./home')">
			<span>Lorenz Lautaro</span>
		</button>
		<button mat-button (click)="redirectTo('./timeline')">
			<span>Timeline</span>
		</button>
		<span class="spacer"></span>
		<button mat-icon-button (click)="goTo(externalRoutesEnum.linkedin)">
			<span
				class="iconify"
				data-icon="akar-icons:linkedin-fill"
				data-inline="false"
				data-width="32"
				data-height="32"
			></span>
		</button>
	</mat-toolbar-row>
</mat-toolbar>
<div class="pages">
	<router-outlet></router-outlet>
</div>
