$mat-toolbar-height: 56px;

mat-toolbar {
	position: fixed;
	top: 0;
	z-index: 2;
	height: $mat-toolbar-height;
	min-height: $mat-toolbar-height;
	max-height: $mat-toolbar-height;

	.spacer {
		display: flex;
		flex: 1;
	}
}

.pages {
	min-height: calc(100vh - #{$mat-toolbar-height} - 12px);
	padding-top: $mat-toolbar-height;
}
